.h1{
    text-align: center;
    background-color: lightskyblue;

}

.button-container{
    background-color: black;
    padding: 30;
    background-position: 400;
}
.Register{
    background-color:rgb(224, 29, 29); 
    width: 150px;
    height: 50PX;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 550;

}

.login{
    background-color:rgb(29, 172, 224); 
    width: 150px;
    height: 50PX;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 550;

}
